.heroDiv {
    width: 100%;
    height: 600px;
 
    
    /* max-width: 1400px; */
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    background-image: url('/dahlak-landscape2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
	 margin-bottom: 30px;
}

.heroImg {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.commentsSection {
	max-width: 960px;
	margin: 0 auto;
	padding: 40px;
}

